// colors
$header-link-color:black;
$header-link-color-hover:white;
$button-color:white;
$sc-request-bg-color:#7E9BC7;
$sc-about-bg-color:#EFC05D;
$sc-cards-bg-color:#E7EDF3;
$sc-cards-bg-color-hover:#709DCA;
$sc-clients-bg-color-hover:#EFC05D;
$card-price-color:#FFBB42;
$card-dollar-icon-color:#FFBB42;
// fonts
$font-h:'Gotham Black';
$font-p:'OpenSans Light';
$font-h5:'Lato Bold';
$font-h4:'Lato Light';
$font-button:'Lato Regular';
$font-card:'Lato Regular';
// font-size
$font-size-header-link:.84375rem;
$font-size-h1:2.2rem;
$font-size-h2:2rem;
$font-size-h3:1.875rem;
$font-size-h4:1.5625rem;
$font-size-h5:1rem;