// section-newsletter
.section-newsletter {
    padding-top: 154px;
    padding-bottom: 54px;
    &  .form-row {
        margin-right: 1rem;
        margin-left: 1rem;
    } 
    & .p {
        margin-bottom: 36px;
    }
    & .container {
        background-image: url('/images/backgrounds/map.png');
        background-repeat: no-repeat;
        height: 549px; 
        background-size: cover;
        padding-top: 95px;
        background-position-y: 55px;
    }
    & i {
        position: absolute;
        font-size: .9rem;
        left: 15px;
        top: 15.5px;
    }
}
.address {
    text-align: center;
    margin: 0 auto;
    & ul {
        list-style: none;
        padding-left: 0;
        padding-top: 60px;
    }
    & li {
        line-height: 23px;
        color:white;
        opacity: .5;
    }
    & li:first-child {
        letter-spacing: -.5px;
        opacity: 1;
    }
    & li:last-child {
        color:#EEB143;
    }
    & .logo {
        padding-top: 20px;
    }
}
.circle {
    position: relative;
	width: 279px;
	height: 279px;
	background: #394B50;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
    border-radius: 50%;
    
}
.triangle {
    width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 15px solid #394B50;
    margin: auto;
    top: 52px;
    position: relative;
}

